.nav{
    &-check{
        display:none;
    }
    &-button{
        background-color:transparent;
        width:7rem;
        height:6rem;
        position:fixed;
        bottom:4rem;
        left:4rem;
        z-index:2000;
        cursor:pointer;
        border-radius:2px;
        text-align:center;
        @include mq('small-screen-1'){
            bottom:91%;
            left:90%;
        };
        @include mq('small-screen-2'){
            position:absolute;
            bottom:91%;
            left:90%;
        };
        @include mq('small-screen-3'){
            position:absolute;
            bottom:91%;
            left:80%;
        };
    }
    &-bg{
        width:7rem;
        height:6rem;
        position:fixed;
        bottom:4rem;
        left:4rem;
        background-color:$color-secondary;
        opacity:0;
        z-index:1000;
        border-radius:2px;
        transition:all 0.8s;
        @include mq('small-screen-1'){
            bottom:91%;
            left:90%;
        };
        @include mq('small-screen-2'){
            bottom:91%;
            left:90%;
        };
        @include mq('small-screen-3'){
            bottom:91%;
            left:80%;
        };
    }
    &-check:checked ~ &-bg{
        transform:scale(80);
        opacity:.9;
    }
    &-icon{
        position:relative;
        margin-top:3rem;
        &::before{
            top:-0.8rem;
        }
        &::after{
            top:0.8rem;
        }
        &::before,&::after{
            content:'';
            position:absolute;
            left:0;
            transition:all .2s;
        }
        &,&::before,&::after{
            width:3rem;
            height:2px;
            background-color:$color-white;
            display:inline-block;
        }
    }
    &-button:hover &-icon::before{
        top:-1rem;
    }
    &-button:hover &-icon::after{
        top:1rem;
    }
    &-check:checked~&-button &-icon{
        background-color:transparent;
    }
    &-check:checked~&-button &-icon::before{
        top:0;
        transform:rotate(135deg);
    }
    &-check:checked~&-button &-icon::after{
        top:0;
        transform:rotate(-135deg);
    }
    &-body{
        position:fixed;
        top:0;
        left:-120%;
        width:100vw;
        height:100vh;
        z-index:1500;
        opacity:0;
        transition:all .8s;
    }
    &-list{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:100%;
        text-align:center;
    }
    &-link{
        display:inline-block;
        font-size:3rem;
        padding:1rem 2rem;
        color:$color-white;
        text-decoration:none;
        text-transform:uppercase;
        transition:all .4s;
        background-image:linear-gradient(120deg,transparent 0%, transparent 50%, $color-white 50%);
        background-size:225%;

        &:hover{
            color:$color-violet-1;
            background-position:100%;
            transform:translateX(1rem);
        }
        span{
            display:inline-block;
            margin-right:1.5rem;
        }
    }
    &-check:checked ~ &-body{
        opacity:1;
        left:0;
    }
    & #logo a{
        background:url(../images/rose_logo.png) no-repeat center /100%;
        text-indent:-9999px;
        width:124px;
        height:110px;
        display:block;
        position:fixed;
        top:3rem;
        left:4rem;
        z-index:999;
        animation-name:moveInLeft;
        animation-duration:1s;
        animation-delay:.5s;
        animation-fill-mode:backwards;
        @include mq('small-screen-1'){
            width:70px;
            height:60px;
        };
        @include mq('small-screen-2'){
            position:absolute;
            width:70px;
            height:60px;
        };
        @include mq('small-screen-3'){
            position:absolute;
            width:70px;
            height:60px;
        };
    }
}