$color-primary:#ffe13b;
$color-secondary:#ae6eea;
$color-red:#b92731;
$color-white:#fff;

$color-violet-1:#8044b7;
$color-violet-2:#ae75e2;
$color-violet-3:#c78efc;
$color-violet-dark:#391e53;

$color-gray-light:#b9b9b9;
$color-gray-dark:#474747;