.margin-left-small{
    margin-left:1rem;
}
.margin-left-medium{
    margin-left:2rem;
}
.margin-left-big{
    margin-left:3rem;
}

.section-margin-top-big{
    margin-top:20rem;
}
.section-margin-top-medium{
    margin-top:15rem;
}
.section-margin-top-small{
    margin-top:5rem;
}

.span-hidden{
    display:inline-block;
    text-indent:-99999px;
}